# <center>Big Data &ndash; Exercise 1</center>
## <center>Fall 2021 &ndash; Week 2 &ndash; ETH Zurich</center>

### Aims
- **After this exercise:** Understand the SQL language and its common query patterns.
- **Later in the semester:** Relate these language features and query patterns relative to other data shapes, technologies, and the languages designed to query them.



- **After this exercise:** Understand the 'table' data shape, normalization, and when they can (and should) be used.
- **Later in the semester:** Understand when you can (and should) throw all of this away!

### Prerequisites
In this exercise, you will brush-up the fundamental concepts of relational databases and SQL. If you haven't taken an introductory databases course (or want to refresh your knowledge) we recommend you to read the following:

Garcia-Molina, Ullman, Widom: Database Systems: The Complete Book. Pearson, 2. Edition, 2008. (Chapters 1, 2, 3, and 6) [Available in the ETH Library] [[Online]](https://ebookcentral.proquest.com/lib/ethz/detail.action?pq-origsite=primo&docID=5832965) [[Selected solutions]](http://infolab.stanford.edu/~ullman/dscbsols/sols.html)

### Database Set-up
Unlike last week's exercise, the dataset for this exercise might take a little bit longer to download and initialize. Please wait for the message `PostgreSQL init process complete; ready for start up` before proceeding!

As before, we set up our connection to the database and enable use of `%sql` and `%%sql`.

In [3]:
server='postgres'
user='postgres'
password='BigData1'
database='discogs'
connection_string=f'postgresql://{user}:{password}@{server}:5432/{database}'

In [4]:
%reload_ext sql
%sql $connection_string

In [5]:
%%sql
SELECT version();

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[('PostgreSQL 13.4 (Debian 13.4-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit',)]

## Exercise 1: Explore the dataset
We want to first understand the dataset a bit better. You will find some queries below to help you explore the schema. In the process, consider the following questions:

1. Which concepts are modelled in the dataset and how do they relate to each other?
2. The data is stored as tables. Why was this shape chosen and why not the other shapes?
3. In which normal forms are the corresponding relations?
4. What are the efficiency trade-offs from adding an `artist_id` and `artist_name` directly to the `releases` table? Hints:
   - What are some typical queries that would benefit from this change?
   - How often do we need to update artists?
5. What potential problems could result from adding this redundancy?

### Where we got the data from
- [Discogs](https://www.discogs.com/)
- [Discogs XML data dumps](http://data.discogs.com/)
- [Download the dataset](https://cloud.inf.ethz.ch/s/4bZWo4TjeXgCNz5) (only necessary if you don't want to use Docker, see `postgres-init.sh` to see how to import it)

### List tables
The following query retrieves a list of tables in the database from a system table describing the current database.

In [2]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

UsageError: Cell magic `%%sql` not found.

### List attributes/columns
The following query retrieves a list of columns from the tables in the database.

In [ ]:
%%sql 
SELECT table_name, column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
AND table_name NOT LIKE 'pg_%'
ORDER BY table_name, ordinal_position;

### These cells are for testing SQL syntax:

In [ ]:
%%sql
SELECT COUNT(*)
FROM artists NATURAL JOIN released_by NATURAL JOIN releases
-- FROM artists NATURAL JOIN releases NATURAL JOIN released_by /* The same */
-- FROM artists NATURAL JOIN releases /* Never do this! A NATURAL JOIN without any common columns will result in a Cartesian product */

In [ ]:
%%sql
SELECT released_by.artist_id /* Same as artist_id */ /* Same as artists.artist_id*/
FROM artists JOIN released_by USING(artist_id)
LIMIT 10

In [ ]:
%%sql
SELECT *
-- FROM artists JOIN released_by ON artists.artist_id=released_by.artist_id /* This will make a duplicate column of release_id. */
FROM artists JOIN released_by USING(artist_id) /* This will not. */
LIMIT 10

In [ ]:
%%sql
SELECT release_id /* This is ambiguous*/
FROM tracks JOIN releases USING(title)
LIMIT 10

In [ ]:
%%sql
SELECT COUNT(artist_id), name, realname
FROM artists
-- GROUP BY name, realname /* You cannot ignore this GROUP BY and assume it will be automatically grouped by other columns.*/
LIMIT 10

In [ ]:
%%sql
SELECT AVG(artist_id), name, realname
FROM artists
GROUP BY name  /* realname must also appears in GROUP BY*/
LIMIT 10

In [ ]:
%%sql
/* As long as you know GROUP BY what, more than one columns can be aggregated at the same time.*/
SELECT AVG(release_id), COUNT(artist_id)
FROM released_by
LIMIT 10

In [ ]:
%%sql
/* A column can be aggregate and non-aggregate at the same time if group by it.
   Although this does not make much sense - only an aggregate of exactly one element itself
*/
SELECT release_id, AVG(release_id), AVG(artist_id)
FROM released_by
GROUP BY release_id
LIMIT 10

In [ ]:
%%sql
SELECT *
FROM (
    SELECT artist_id, COUNT(*) AS num_releases
    FROM artists NATURAL JOIN releases
    GROUP BY artist_id
) AS releases_per_artist
WHERE releases_per_artist.num_releases > (SELECT AVG(num_releases) FROM releases_per_artist) /* An inner query is executed first. 'releases_per_artist' can only be used by the exact query FROM it (eg, used in WHERE). You need WITH for the purpose. */
LIMIT 10

In [ ]:
%%sql
SELECT *
FROM (
    SELECT *
    FROM (
        SELECT artist_id, COUNT(*) AS num_releases
        FROM artists NATURAL JOIN releases
        GROUP BY artist_id
    ) AS releases_per_artist /* Subquery must has a name. */
) AS releases_per_artist_duplicate
WHERE releases_per_artist_duplicate.num_releases > 10000
LIMIT 10

## Exercise 2: SQL warm-up
Let us begin with several SQL queries to ease us back into the language.

1. Retrieve all artists with the name of 'Radiohead'.

In [ ]:
%%sql
SELECT *
FROM artists
WHERE name = 'Radiohead'

2. List the titles of all releases by that artist in alphabetical order.

In [ ]:
%%sql
SELECT r.title
FROM artists a, released_by rb, releases r
WHERE a.name='Radiohead' AND a.artist_id=rb.artist_id AND rb.release_id=r.release_id
ORDER BY r.title

In [ ]:
%%sql
SELECT releases.title 
FROM releases
NATURAL JOIN released_by
NATURAL JOIN artists
WHERE artists.name='Radiohead'
ORDER BY releases.title

3. List the titles of all releases by that artist that contain less than 5 tracks.

In [ ]:
%%sql
SELECT *
FROM (
    SELECT title, COUNT(*) AS cnt
    FROM releases
    NATURAL JOIN released_by
    NATURAL JOIN artists
    NATURAL JOIN tracks
    WHERE artists.name = 'Radiohead'
    GROUP BY title /* I think this is wrong: title of the release and title of the track are different things. */
) AS x WHERE x.cnt < 5

In [ ]:
%%sql
SELECT releases.title, COUNT(*)
FROM artists
NATURAL JOIN released_by
NATURAL JOIN tracks
NATURAL JOIN releases
WHERE artists.name = 'Radiohead'
GROUP BY releases.title
HAVING COUNT(*)<5

In [ ]:
%%sql
/* My solution. I think title of tracks and title of releases are different things. */

WITH releases_track_count AS(
    SELECT release_id, COUNT(*)
    FROM artists
    NATURAL JOIN released_by
    NATURAL JOIN tracks
    WHERE artists.name='Radiohead'
    GROUP BY release_id
    HAVING COUNT(*)<5 /* HAVING is like WHERE, but works on aggregated attributes. It is a screen after aggregation. */
)
SELECT release_id, count, title
FROM releases_track_count
NATURAL JOIN releases

4. What are the top 10 artists with the most releases?

In [ ]:
%%sql
SELECT artists.name, COUNT(*) cnt
FROM artists
NATURAL JOIN released_by
GROUP BY artists.artist_id
ORDER BY cnt DESC
LIMIT 10

5. How many artists have more releases than the average number of releases per artist?

In [ ]:
%%sql
SELECT COUNT(*)
FROM(
    SELECT *
    FROM (
        SELECT artists.artist_id, COUNT(*) AS cnt
        FROM artists NATURAL JOIN released_by
        GROUP BY artists.artist_id
    ) AS releases_per_artist
    WHERE cnt > (SELECT AVERAGE(cnt) FROM releases_per_artist) /*No, releases_per_artist cannot be seen here*/
) AS artists_egilible

In [ ]:
%%sql
WITH releases_per_artist AS(
    SELECT artists.artist_id, COUNT(*) AS release_count
    FROM artists NATURAL JOIN released_by
    GROUP BY artists.artist_id
),
average_release_count AS(
    SELECT AVG(release_count)
    FROM releases_per_artist
)
SELECT COUNT(*) FROM releases_per_artist
WHERE release_count > (SELECT * FROM average_release_count)

6. What are the names and IDs of the artists that have both a release with the genre 'Pop' *and* a release with the genre 'Classical'? Give a query that uses `INTERSECT` and one that uses `EXISTS`.

In [ ]:
%%sql
/* INTERSECT */
SELECT a.name, a.artist_id 
FROM artists AS a NATURAL JOIN released_by NATURAL JOIN releases AS r
WHERE r.genre = 'Pop'
INTERSECT
SELECT a.name, a.artist_id 
FROM artists AS a NATURAL JOIN released_by NATURAL JOIN releases AS r
WHERE r.genre = 'Classical'

In [ ]:
%%sql
/* INTERSECT and WITH */
WITH release_per_artist AS(
    SELECT artists.name, artists.artist_id, releases.genre
    FROM artists
    NATURAL JOIN released_by
    NATURAL JOIN releases
)
SELECT name, artist_id
FROM release_per_artist
WHERE release_per_artist.genre = 'Pop'
INTERSECT
SELECT name, artist_id
FROM release_per_artist
WHERE release_per_artist.genre = 'Classical'

In [ ]:
%%sql
/* EXISTS */
SELECT DISTINCT artist_id, name
FROM artists AS a1
NATURAL JOIN released_by
NATURAL JOIN releases AS r1
WHERE r1.genre='Pop'
AND EXISTS(
    SELECT artist_id, name
    FROM artists AS a2
    NATURAL JOIN released_by
    NATURAL JOIN releases AS r2
    WHERE r2.genre='Classical' AND a1.artist_id=a2.artist_id
)

In [ ]:
%%sql
/* A solution without INTERSECT or EXISTS. */
SELECT DISTINCT artist_id, name
FROM (
    SELECT artist_id, name
    FROM artists
    NATURAL JOIN released_by
    NATURAL JOIN releases
    WHERE genre='Classical'
) AS artists_has_classical
NATURAL JOIN released_by
NATURAL JOIN releases
WHERE genre='Pop'

## Exercise 3: Impact of release genre on average track duration and track count ---- TODO
For this exercise, we want to find out how average track duration and track count varies across genres.

To start, write a query which finds all of the distinct genres:

In [ ]:
%%sql
SELECT DISTINCT genre from releases

Take a guess as to which genre has:
1. The highest average track count?
2. The lowest average track count?
3. The longest average track duration?
4. The shortest average track duration?

Next, write a query to calculate the average track count per genre:

In [ ]:
%%sql 
WITH num_genre_tracks AS(
    SELECT r.genre, COUNT(*) AS track_count
    FROM tracks NATURAL JOIN releases AS r
    GROUP BY r.genre
)
SELECT r.genre, CAST(AVG(num_genre_tracks.track_count) as INTEGER)
FROM releases AS r JOIN num_genre_tracks USING(genre)
GROUP BY r.genre

Write a query to calculate the average duration per genre. Your result should have two attributes: `genre` and `avg_duration`.

In [ ]:
%%sql
SELECT genre, AVG(duration) AS avg_duration
FROM releases NATURAL JOIN tracks
GROUP BY genre

Did the results match what you expected? Copy your query into the following python script to plot the result.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Store the result of the query in a Python object (add your query here!)
result = %sql ...

# Convert the result to a Pandas data frame
df = result.DataFrame()

# Extract x and y values for a plot
x = df['genre'].tolist()
y = df['avg_duration'].tolist()

# Print them just for debugging
print(x)
print(y)

# Plot the distribution of scores
fig = plt.figure(figsize =(14, 7))
plt.barh(x, y, align='center')
plt.xlabel('Average Duration (s)')
plt.ylabel('Genre')

## Exercise 4: Discuss query patterns and language features of SQL
1. What patterns did you use in many of the queries above?

2. Do you remember the theory behind them?

3. What makes SQL a declarative language and what advantages does that have?

4. What makes SQL a functional language and what advantages does that have?

## Exercise 5: Limits of SQL (optional)
Explain what the following query does:

In [ ]:
%%sql
WITH RECURSIVE
    X AS (SELECT 3 AS Value),
    artist_releases AS (
        SELECT artists.artist_id, artists.name, releases.release_id, releases.title
        FROM artists, released_by, releases
        WHERE artists.artist_id = released_by.artist_id
        AND released_by.release_id = releases.release_id
    ),
    collaborations AS (
        SELECT DISTINCT ar1.artist_id AS left_id, ar1.name AS left_name, 
                ar2.artist_id AS right_id, ar2.name AS right_name, 1 AS distance
        FROM artist_releases AS ar1, artist_releases AS ar2
        WHERE ar1.release_id = ar2.release_id
        AND ar1.artist_id != ar2.artist_id
    ),
    X_hop_collaborations AS (
        SELECT * FROM collaborations  -- base case
        UNION
        SELECT c1.left_id, c1.left_name, c2.right_id, c2.right_name, c1.distance + 1 AS distance
        FROM X_hop_collaborations AS c1
        JOIN collaborations c2 ON c1.right_id = c2.left_id
        WHERE c1.distance < (SELECT * FROM X)
    )
SELECT * 
FROM X_hop_collaborations
WHERE left_name = 'Radiohead'
ORDER BY distance, right_name;

This is Some sort of representation of the collaboration relations between artists, with distances. It should be better represented using a graph, which is not that suitable for a table.

## Assignment 01

1. What is the result of the following query:

In [33]:
%%sql
SELECT AVG(CAST(duration AS FLOAT)) FROM tracks;

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(324.23738827711026,)]

2. How many artists have at least 10000 seconds of released music (i.e., total track duration >= 10000) and at least one release with the genre 'Classical'?

In [6]:
%%sql
SELECT COUNT(*) FROM(

    SELECT artist_id
    FROM artists
    NATURAL JOIN released_by
    NATURAL JOIN tracks
    GROUP BY artist_id
    HAVING SUM(tracks.duration)>=10000

    INTERSECT

    SELECT DISTINCT artist_id
    FROM artists
    NATURAL JOIN released_by
    NATURAL JOIN releases
    WHERE genre='Classical'
) AS dummy

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(149,)]

3.Write a query that returns the 10 genres with the most releases, in descending order of frequency. For each of the top 10 genres, find the ID of the artist that has released the most releases in that genre. 

You may assume that the top artist for each genre is unique (i.e., there is exactly one artist who has released the highest number of releases for each genre).

Make sure that you write the genre names exactly as they appear in the dataset.

In [35]:
%%sql
/* genre, releases_of_genre */
SELECT genre, COUNT(release_id) AS releases_of_genre
FROM releases
GROUP BY genre
ORDER BY releases_of_genre DESC
LIMIT 10

 * postgresql://postgres:***@postgres:5432/discogs
10 rows affected.

[('Electronic', 439213),
 ('Rock', 48292),
 ('Hip Hop', 25759),
 ('Funk / Soul', 9069),
 ('Jazz', 8251),
 ('Reggae', 3527),
 ('Pop', 1800),
 ('Non-Music', 1247),
 ('Classical', 592),
 ('Latin', 414)]

In [36]:
%%sql
WITH genre_releases AS(
    SELECT genre, COUNT(release_id) AS releases_of_genre
    FROM releases
    GROUP BY genre
    ORDER BY releases_of_genre DESC
    LIMIT 10
),
genre_artist_releases AS(
    SELECT genre, artist_id, COUNT(release_id) AS releases_of_artist
    FROM artists NATURAL JOIN released_by NATURAL JOIN releases
    WHERE genre IN (SELECT genre FROM genre_releases)
    GROUP BY genre, artist_id
)
SELECT genre, artist_id
FROM (
    SELECT genre_releases.genre, genre_releases.releases_of_genre, genre_artist_releases.artist_id, genre_artist_releases.releases_of_artist
    FROM genre_artist_releases
    JOIN (  /* Find the number of MAX first. */
        SELECT genre, MAX(releases_of_artist) AS max_releases_of_artist_in_genre
        FROM genre_artist_releases
        GROUP BY genre
    ) AS genre_artist_max_releases
    /* Then using the MAX number to find the relevant MAX record. */
    ON genre_artist_releases.genre=genre_artist_max_releases.genre
    AND genre_artist_releases.releases_of_artist=genre_artist_max_releases.max_releases_of_artist_in_genre
    /* To order the genres. */
    JOIN genre_releases ON genre_artist_releases.genre=genre_releases.genre
    ORDER BY genre_releases.releases_of_genre DESC
) AS dummy

 * postgresql://postgres:***@postgres:5432/discogs
10 rows affected.

[('Electronic', 2725),
 ('Rock', 82730),
 ('Hip Hop', 10783),
 ('Funk / Soul', 12596),
 ('Jazz', 23755),
 ('Reggae', 21764),
 ('Pop', 69866),
 ('Non-Music', 451987),
 ('Classical', 999914),
 ('Latin', 99729)]