# <center>Big Data &ndash; Exercises</center>
## <center>Fall 2021 &ndash; Week 13 &ndash; ETH Zurich</center>
## <center>Cubes</center>

## Introduction

In this exercise, we analyze the sales data of a fictious wholesale supplier
(taken from the database system benchmark [TPC-H](http://www.tpc.org/tpch/))
in our favorite spreadsheet application. Then, we will use SQL to query the data shape cube. 
A cube is a collection of numeric data organized by arrays of discrete identifiers (Janus and FoucheÃÅ, 2009). It is quite natural, as we see in the lectures, to map cubes to tables.

## 1. The TPC-H Dataset as OLAP Cube

Let us get familiar with the dataset.
It consists of orders made, each of which is made by a customer, and consists of lineitems.
Think of an order as a shopping cart with several items in it.
The items of an order are parts that may be provided by different suppliers.
Suppliers and customers come from different nations, which are grouped into regions of the world.
The following figure illustrates the schema of the TPC-H dataset.
<br>

![Schema of the TPC-H dataset](https://cloud.inf.ethz.ch/s/MNY8ksxgX78zf9a/download)


### Task 1

1. Which table(s) of the TPC-H schema is/are the fact table(s)?
depends on what you are interested... Anyone can be a fact table. If you are interested in orders, then orders is a fact table, its dimension connects to other tables (star schema, even snow-flake schema).

1. What is/are the measure(s)?
E.g., in lineitems:
quantity, tax, price... anything that can be aggregated. Maybe not shipmode: it's kind of categorical data.
1. What are the dimensions?
linenumber, date, shipdate, commitdate... Anything except measures and keys. Primary keys and foreign keys are not categorical data - they just let the relationship happen.
1. What do you call this flavor of OLAP?
ROLAP

### Solutions

...

## 2. Analyzing TPC-H with a Pivot Table

Download [OLAP Cubes Excel file](https://cloud.inf.ethz.ch/s/rJKGqkHxbAtYQog/download)
and open it with your favorite spreadsheet application.
The file contains a universal table (a fully denormalized table) of a small TPC-H dataset.
The schema has been modified slightly to make analysis in a spreadsheet application easier:
The two precomputed measures revenue and cost
as well as the hierarchy of time dimensions in the attribute *orderdate* have been added in the materialized form
and some other attributes have been removed.

You may need to look up how to use pivot tables in your spreadsheet application.

1. Microsoft Excel: [PivotTable](https://support.office.com/en-us/article/Create-a-PivotTable-to-analyze-worksheet-data-a9a84538-bfe9-40a9-a8e9-f99134456576)
1. Google Sheets  : [pivot tables](https://support.google.com/docs/answer/1272900?co=GENIE.Platform%3DDesktop&hl=en)
1. Open Office    : [DataPilot](https://openoffice.blogs.com/openoffice/2006/11/data_pilots_in_.html)

### Task 1: Discussion

Discuss the terms "slice and dice", "drill down", "roll up", and "pivoting".

pivot: Value of a column in this table as name of a column in another table.

dice: SELECT (what dimensions to use). A projection
slice: WHERE

drill down:  
roll up: 

### Solution: Discussion

...

### Task 2: Create the following pivot tables:

1. Show how much revenue suppliers from different regions (as columns) produced in every year (as rows).
1. Show how much revenue suppliers from nations of Africa (as columns) produced in every year (as rows).
1. Show how much revenue suppliers from nations of Africa produced in every quarter of every year.
1. Show how much revenue suppliers from nations of Africa produced in every week of every month of Q1 in 1996.
1. Show how much revenue suppliers from nations of Africa produced in every year with "urgent" orders.
1. Show the average order quantity for parts from suppliers from nations of Africa per year.
1. Show how much revenue suppliers from nations of Africa (as rows) produced in every quarter of every year (as columns).

### Solution:
...

## 3. OLAP Cubes and SQL

### Part 1: SQL

Write SQL queries for the PivotTables from Question 2.

#### Notes

* Assume that the revenue is calculated as `olquantity * partretailprice * (1-oldiscount)`.
* To get the year or quarter from a date in PostgreSQL, you can use [`DATE_PART ('field', date )  `](https://www.postgresqltutorial.com/postgresql-date_part/). Note that the field is case-insensitive. You can write `DATE_PART('YEAR', date)` or `DATE_PART('year', date)`, which are equivalent. 

#### Database Set-up

Please wait for the message `PostgreSQL init process complete; ready for start up` before proceeding!
As before, we set up our connection to the database and enable use of `%sql` and `%%sql`.

In [8]:
server  ='postgres'
user    ='postgres'
password='bigdataclass'
database='tpch-db'

connection_string = f'postgresql://{user}:{password}@{server}:5432/{database}'

In [9]:
%reload_ext sql
%sql $connection_string

Check the tables in TPC-H. They are empty for the moment.

In [10]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@postgres:5432/tpch-db
8 rows affected.

[('region',),
 ('nation',),
 ('supplier',),
 ('part',),
 ('supplypart',),
 ('customer',),
 ('orders',),
 ('orderline',)]

Populate the tables in TPC-H with data from .tbl files

In [11]:
import numpy as np
import os
import pandas
import sqlalchemy
import sys

tables = [ # Order is important because of FKs
        'region',
        'nation',
        'supplier',
        'part',
        'supplypart',
        'customer',
        'orders',
        'orderline'
        ]

engine = sqlalchemy.create_engine(connection_string)

for table in tables:
    # Find column names
    columns = engine.execute('SELECT * FROM {0}'.format(table)).keys()

    # Load content
    data = pandas.read_csv('docker/postgres/tpch/data/{0}.tbl'.format(table), sep='|', header=None, names=columns)
    msg = 'Loading table "{0}": {1}% done\r'
    for idx, chunk in enumerate(np.array_split(data, 100)):
        sys.stdout.write(msg.format(table, idx))
        chunk.to_sql(name=table, if_exists='append', con=engine, index=False, method='multi')
    print(msg.format(table, str(100)))

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "region_pkey"
DETAIL:  Key (regionid)=(0) already exists.

[SQL: INSERT INTO region (regionid, regionname) VALUES (%(regionid_m0)s, %(regionname_m0)s)]
[parameters: {'regionid_m0': 0, 'regionname_m0': 'AFRICA'}]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

First however, we define the fact table using a WITH statement (copy this at the beginning of all other queries)

In [13]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT * FROM cube LIMIT 10

 * postgresql://postgres:***@postgres:5432/tpch-db
10 rows affected.

[(Decimal('17.00'), Decimal('1453.55'), Decimal('0.04'), datetime.date(1996, 1, 2), 'MOZAMBIQUE               ', 'AFRICA                   ', '5-LOW          ', Decimal('23721.936000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('36.00'), Decimal('1574.67'), Decimal('0.09'), datetime.date(1996, 1, 2), 'CHINA                    ', 'ASIA                     ', '5-LOW          ', Decimal('51586.189200'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('8.00'), Decimal('1537.63'), Decimal('0.10'), datetime.date(1996, 1, 2), 'EGYPT                    ', 'MIDDLE EAST              ', '5-LOW          ', Decimal('11070.936000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('28.00'), Decimal('922.02'), Decimal('0.09'), datetime.date(1996, 1, 2), 'KENYA                    ', 'AFRICA                   ', '5-LOW          ', Decimal('23493.069600'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('24.00'), Decimal('1141.24'), Decimal('0.10'), datetime.date(1996, 1, 2), 'INDONESIA                ', 'ASIA                     ', '5-LOW          ', Decimal('24650.784000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('32.00'), Decimal('1057.15'), Decimal('0.07'), datetime.date(1996, 1, 2), 'UNITED STATES            ', 'AMERICA                  ', '5-LOW          ', Decimal('31460.784000'), 1996.0, 1.0, 1.0, 1.0),
 (Decimal('38.00'), Decimal('963.06'), Decimal('0.00'), datetime.date(1996, 12, 1), 'GERMANY                  ', 'EUROPE                   ', '1-URGENT       ', Decimal('36596.280000'), 1996.0, 4.0, 12.0, 48.0),
 (Decimal('45.00'), Decimal('943.04'), Decimal('0.06'), datetime.date(1993, 10, 14), 'UNITED STATES            ', 'AMERICA                  ', '5-LOW          ', Decimal('39890.592000'), 1993.0, 4.0, 10.0, 41.0),
 (Decimal('49.00'), Decimal('1091.19'), Decimal('0.10'), datetime.date(1993, 10, 14), 'FRANCE                   ', 'EUROPE                   ', '5-LOW          ', Decimal('48121.479000'), 1993.0, 4.0, 10.0, 41.0),
 (Decimal('27.00'), Decimal('1186.28'), Decimal('0.06'), datetime.date(1993, 10, 14), 'INDIA                    ', 'ASIA                     ', '5-LOW          ', Decimal('30107.786400'), 1993.0, 4.0, 10.0, 41.0)]

Note that, for the purpose of this exercise, we dropped some dimensions of the cube because none of the queries uses them. Also, we materialize some hierarchy levels of the `orderdate` dimension in order to make the subsequent queries more readable. This makes them *look* like they were new dimensions -- conceptually, they are not! (They are, well, levels of a hierarchy of the `orderdate` dimension.)

OK, you are good to go. Use the SQL cell below and add more cells as you need.

Note that the numbers you obtain with the SQL queries should not be identical to those in the pivot tables in Task2, because the data we have in the DB have more rows in its fact table.

#### Your Answers

#### 1. Show how much revenue suppliers from different regions (as columns) produced in every year (as rows).

In [17]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT orderyear, regionname, SUM(revenue)
FROM cube
GROUP BY CUBE(orderyear, regionname)
ORDER BY orderyear, regionname

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[(1992.0, 'AFRICA                   ', Decimal('65268216.729500')),
 (1992.0, 'AMERICA                  ', Decimal('62430452.565600')),
 (1992.0, 'ASIA                     ', Decimal('83435906.571600')),
 (1992.0, 'EUROPE                   ', Decimal('62009679.643000')),
 (1992.0, 'MIDDLE EAST              ', Decimal('35338119.828000')),
 (1992.0, None, Decimal('308482375.337700')),
 (1993.0, 'AFRICA                   ', Decimal('66164509.097800')),
 (1993.0, 'AMERICA                  ', Decimal('64204286.247000')),
 (1993.0, 'ASIA                     ', Decimal('85616278.511700')),
 (1993.0, 'EUROPE                   ', Decimal('64131945.382800')),
 (1993.0, 'MIDDLE EAST              ', Decimal('36427916.203800')),
 (1993.0, None, Decimal('316544935.443100')),
 (1994.0, 'AFRICA                   ', Decimal('63964877.706800')),
 (1994.0, 'AMERICA                  ', Decimal('63209420.620100')),
 (1994.0, 'ASIA                     ', Decimal('85668222.060300')),
 (1994.0, 'EUROPE                   ', Decimal('65453630.165300')),
 (1994.0, 'MIDDLE EAST              ', Decimal('37974762.627600')),
 (1994.0, None, Decimal('316270913.180100')),
 (1995.0, 'AFRICA                   ', Decimal('60191092.423800')),
 (1995.0, 'AMERICA                  ', Decimal('60574637.206600')),
 (1995.0, 'ASIA                     ', Decimal('84978697.925300')),
 (1995.0, 'EUROPE                   ', Decimal('60688787.974900')),
 (1995.0, 'MIDDLE EAST              ', Decimal('37477278.571500')),
 (1995.0, None, Decimal('303910494.102100')),
 (1996.0, 'AFRICA                   ', Decimal('63326113.003600')),
 (1996.0, 'AMERICA                  ', Decimal('61967252.748200')),
 (1996.0, 'ASIA                     ', Decimal('85827577.610600')),
 (1996.0, 'EUROPE                   ', Decimal('63422146.276600')),
 (1996.0, 'MIDDLE EAST              ', Decimal('37385268.141500')),
 (1996.0, None, Decimal('311928357.780500')),
 (1997.0, 'AFRICA                   ', Decimal('64551600.198700')),
 (1997.0, 'AMERICA                  ', Decimal('59919519.158900')),
 (1997.0, 'ASIA                     ', Decimal('83672230.314100')),
 (1997.0, 'EUROPE                   ', Decimal('61713847.802200')),
 (1997.0, 'MIDDLE EAST              ', Decimal('38135442.015500')),
 (1997.0, None, Decimal('307992639.489400')),
 (1998.0, 'AFRICA                   ', Decimal('37799441.183500')),
 (1998.0, 'AMERICA                  ', Decimal('37618811.725900')),
 (1998.0, 'ASIA                     ', Decimal('50359356.312800')),
 (1998.0, 'EUROPE                   ', Decimal('33564468.974400')),
 (1998.0, 'MIDDLE EAST              ', Decimal('20663148.564400')),
 (1998.0, None, Decimal('180005226.761000')),
 (None, 'AFRICA                   ', Decimal('421265850.343700')),
 (None, 'AMERICA                  ', Decimal('409924380.272300')),
 (None, 'ASIA                     ', Decimal('559558269.306400')),
 (None, 'EUROPE                   ', Decimal('410984506.219200')),
 (None, 'MIDDLE EAST              ', Decimal('243401935.952300')),
 (None, None, Decimal('2045134942.093900'))]

#### 2. Show how much revenue suppliers from nations of Africa produced in every year.

In [20]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT orderyear, nationname, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA'
GROUP BY CUBE( orderyear, nationname)
ORDER BY orderyear, nationname

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[(1992.0, 'ALGERIA                  ', Decimal('8568744.120100')),
 (1992.0, 'ETHIOPIA                 ', Decimal('9077948.018000')),
 (1992.0, 'KENYA                    ', Decimal('18844592.312000')),
 (1992.0, 'MOROCCO                  ', Decimal('5808581.643900')),
 (1992.0, 'MOZAMBIQUE               ', Decimal('22968350.635500')),
 (1992.0, None, Decimal('65268216.729500')),
 (1993.0, 'ALGERIA                  ', Decimal('9816982.595600')),
 (1993.0, 'ETHIOPIA                 ', Decimal('8537000.021400')),
 (1993.0, 'KENYA                    ', Decimal('18350385.061000')),
 (1993.0, 'MOROCCO                  ', Decimal('6731663.789700')),
 (1993.0, 'MOZAMBIQUE               ', Decimal('22728477.630100')),
 (1993.0, None, Decimal('66164509.097800')),
 (1994.0, 'ALGERIA                  ', Decimal('9097585.234900')),
 (1994.0, 'ETHIOPIA                 ', Decimal('8739224.753800')),
 (1994.0, 'KENYA                    ', Decimal('18141727.756000')),
 (1994.0, 'MOROCCO                  ', Decimal('6611639.208700')),
 (1994.0, 'MOZAMBIQUE               ', Decimal('21374700.753400')),
 (1994.0, None, Decimal('63964877.706800')),
 (1995.0, 'ALGERIA                  ', Decimal('9168430.092400')),
 (1995.0, 'ETHIOPIA                 ', Decimal('8584391.722200')),
 (1995.0, 'KENYA                    ', Decimal('15906061.428800')),
 (1995.0, 'MOROCCO                  ', Decimal('6518612.188500')),
 (1995.0, 'MOZAMBIQUE               ', Decimal('20013596.991900')),
 (1995.0, None, Decimal('60191092.423800')),
 (1996.0, 'ALGERIA                  ', Decimal('8137148.275900')),
 (1996.0, 'ETHIOPIA                 ', Decimal('7961609.653600')),
 (1996.0, 'KENYA                    ', Decimal('19400001.386900')),
 (1996.0, 'MOROCCO                  ', Decimal('6693622.901500')),
 (1996.0, 'MOZAMBIQUE               ', Decimal('21133730.785700')),
 (1996.0, None, Decimal('63326113.003600')),
 (1997.0, 'ALGERIA                  ', Decimal('10714639.429400')),
 (1997.0, 'ETHIOPIA                 ', Decimal('9363790.074800')),
 (1997.0, 'KENYA                    ', Decimal('18496235.758100')),
 (1997.0, 'MOROCCO                  ', Decimal('6137892.064500')),
 (1997.0, 'MOZAMBIQUE               ', Decimal('19839042.871900')),
 (1997.0, None, Decimal('64551600.198700')),
 (1998.0, 'ALGERIA                  ', Decimal('5554601.734600')),
 (1998.0, 'ETHIOPIA                 ', Decimal('5667068.474900')),
 (1998.0, 'KENYA                    ', Decimal('11739649.018800')),
 (1998.0, 'MOROCCO                  ', Decimal('2930449.346100')),
 (1998.0, 'MOZAMBIQUE               ', Decimal('11907672.609100')),
 (1998.0, None, Decimal('37799441.183500')),
 (None, 'ALGERIA                  ', Decimal('61058131.482900')),
 (None, 'ETHIOPIA                 ', Decimal('57931032.718700')),
 (None, 'KENYA                    ', Decimal('120878652.721600')),
 (None, 'MOROCCO                  ', Decimal('41432461.142900')),
 (None, 'MOZAMBIQUE               ', Decimal('139965572.277600')),
 (None, None, Decimal('421265850.343700'))]

#### 3. Show how much revenue suppliers from nations of Africa produced in every quarter of every year.

In [23]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT orderyear, orderquarter, nationname, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA'
GROUP BY CUBE(orderyear, orderquarter, nationname)
ORDER BY orderyear, orderquarter, nationname

 * postgresql://postgres:***@postgres:5432/tpch-db
234 rows affected.

[(1992.0, 1.0, 'ALGERIA                  ', Decimal('1958124.794000')),
 (1992.0, 1.0, 'ETHIOPIA                 ', Decimal('2268245.986900')),
 (1992.0, 1.0, 'KENYA                    ', Decimal('4728310.634200')),
 (1992.0, 1.0, 'MOROCCO                  ', Decimal('1397538.037500')),
 (1992.0, 1.0, 'MOZAMBIQUE               ', Decimal('6965242.876100')),
 (1992.0, 1.0, None, Decimal('17317462.328700')),
 (1992.0, 2.0, 'ALGERIA                  ', Decimal('2375436.331600')),
 (1992.0, 2.0, 'ETHIOPIA                 ', Decimal('2555879.440400')),
 (1992.0, 2.0, 'KENYA                    ', Decimal('4904382.264100')),
 (1992.0, 2.0, 'MOROCCO                  ', Decimal('1355226.780000')),
 (1992.0, 2.0, 'MOZAMBIQUE               ', Decimal('5267473.732700')),
 (1992.0, 2.0, None, Decimal('16458398.548800')),
 (1992.0, 3.0, 'ALGERIA                  ', Decimal('2310787.536700')),
 (1992.0, 3.0, 'ETHIOPIA                 ', Decimal('2342687.385500')),
 (1992.0, 3.0, 'KENYA                    ', Decimal('4768063.528600')),
 (1992.0, 3.0, 'MOROCCO                  ', Decimal('1579660.489600')),
 (1992.0, 3.0, 'MOZAMBIQUE               ', Decimal('5426317.167400')),
 (1992.0, 3.0, None, Decimal('16427516.107800')),
 (1992.0, 4.0, 'ALGERIA                  ', Decimal('1924395.457800')),
 (1992.0, 4.0, 'ETHIOPIA                 ', Decimal('1911135.205200')),
 (1992.0, 4.0, 'KENYA                    ', Decimal('4443835.885100')),
 (1992.0, 4.0, 'MOROCCO                  ', Decimal('1476156.336800')),
 (1992.0, 4.0, 'MOZAMBIQUE               ', Decimal('5309316.859300')),
 (1992.0, 4.0, None, Decimal('15064839.744200')),
 (1992.0, None, 'ALGERIA                  ', Decimal('8568744.120100')),
 (1992.0, None, 'ETHIOPIA                 ', Decimal('9077948.018000')),
 (1992.0, None, 'KENYA                    ', Decimal('18844592.312000')),
 (1992.0, None, 'MOROCCO                  ', Decimal('5808581.643900')),
 (1992.0, None, 'MOZAMBIQUE               ', Decimal('22968350.635500')),
 (1992.0, None, None, Decimal('65268216.729500')),
 (1993.0, 1.0, 'ALGERIA                  ', Decimal('1850076.134000')),
 (1993.0, 1.0, 'ETHIOPIA                 ', Decimal('1856033.387500')),
 (1993.0, 1.0, 'KENYA                    ', Decimal('4167965.875600')),
 (1993.0, 1.0, 'MOROCCO                  ', Decimal('1632535.383700')),
 (1993.0, 1.0, 'MOZAMBIQUE               ', Decimal('5700710.116200')),
 (1993.0, 1.0, None, Decimal('15207320.897000')),
 (1993.0, 2.0, 'ALGERIA                  ', Decimal('2194947.127800')),
 (1993.0, 2.0, 'ETHIOPIA                 ', Decimal('2175923.734700')),
 (1993.0, 2.0, 'KENYA                    ', Decimal('4075936.873500')),
 (1993.0, 2.0, 'MOROCCO                  ', Decimal('1318992.359500')),
 (1993.0, 2.0, 'MOZAMBIQUE               ', Decimal('5563226.025800')),
 (1993.0, 2.0, None, Decimal('15329026.121300')),
 (1993.0, 3.0, 'ALGERIA                  ', Decimal('3305010.816700')),
 (1993.0, 3.0, 'ETHIOPIA                 ', Decimal('2019936.525500')),
 (1993.0, 3.0, 'KENYA                    ', Decimal('5049824.597100')),
 (1993.0, 3.0, 'MOROCCO                  ', Decimal('1808143.881300')),
 (1993.0, 3.0, 'MOZAMBIQUE               ', Decimal('5446698.529300')),
 (1993.0, 3.0, None, Decimal('17629614.349900')),
 (1993.0, 4.0, 'ALGERIA                  ', Decimal('2466948.517100')),
 (1993.0, 4.0, 'ETHIOPIA                 ', Decimal('2485106.373700')),
 (1993.0, 4.0, 'KENYA                    ', Decimal('5056657.714800')),
 (1993.0, 4.0, 'MOROCCO                  ', Decimal('1971992.165200')),
 (1993.0, 4.0, 'MOZAMBIQUE               ', Decimal('6017842.958800')),
 (1993.0, 4.0, None, Decimal('17998547.729600')),
 (1993.0, None, 'ALGERIA                  ', Decimal('9816982.595600')),
 (1993.0, None, 'ETHIOPIA                 ', Decimal('8537000.021400')),
 (1993.0, None, 'KENYA                    ', Decimal('18350385.061000')),
 (1993.0, None, 'MOROCCO                  ', Decimal('6731663.789700')),
 (1993.0, None, 'MOZAMBIQUE               ', Decimal('22728477.630100')),
 (1993.0, None, None, Decimal('66164509.097800')),
 (1994.0, 1.0, 'ALGERIA                  ', Decimal('2254658.543100')),
 (1994.0, 1.0, 'ETHIOPIA                 ', Decimal('2121250.672100')),
 (1994.0, 1.0, 'KENYA                    ', Decimal('4403122.559700')),
 (1994.0, 1.0, 'MOROCCO                  ', Decimal('1513751.062500')),
 (1994.0, 1.0, 'MOZAMBIQUE               ', Decimal('4654343.524900')),
 (1994.0, 1.0, None, Decimal('14947126.362300')),
 (1994.0, 2.0, 'ALGERIA                  ', Decimal('2085164.972900')),
 (1994.0, 2.0, 'ETHIOPIA                 ', Decimal('2210772.627800')),
 (1994.0, 2.0, 'KENYA                    ', Decimal('4457596.483900')),
 (1994.0, 2.0, 'MOROCCO                  ', Decimal('1718603.551300')),
 (1994.0, 2.0, 'MOZAMBIQUE               ', Decimal('5535359.399400')),
 (1994.0, 2.0, None, Decimal('16007497.035300')),
 (1994.0, 3.0, 'ALGERIA                  ', Decimal('2387777.333300')),
 (1994.0, 3.0, 'ETHIOPIA                 ', Decimal('2192248.649100')),
 (1994.0, 3.0, 'KENYA                    ', Decimal('5025328.991100')),
 (1994.0, 3.0, 'MOROCCO                  ', Decimal('1982299.631800')),
 (1994.0, 3.0, 'MOZAMBIQUE               ', Decimal('5401216.709400')),
 (1994.0, 3.0, None, Decimal('16988871.314700')),
 (1994.0, 4.0, 'ALGERIA                  ', Decimal('2369984.385600')),
 (1994.0, 4.0, 'ETHIOPIA                 ', Decimal('2214952.804800')),
 (1994.0, 4.0, 'KENYA                    ', Decimal('4255679.721300')),
 (1994.0, 4.0, 'MOROCCO                  ', Decimal('1396984.963100')),
 (1994.0, 4.0, 'MOZAMBIQUE               ', Decimal('5783781.119700')),
 (1994.0, 4.0, None, Decimal('16021382.994500')),
 (1994.0, None, 'ALGERIA                  ', Decimal('9097585.234900')),
 (1994.0, None, 'ETHIOPIA                 ', Decimal('8739224.753800')),
 (1994.0, None, 'KENYA                    ', Decimal('18141727.756000')),
 (1994.0, None, 'MOROCCO                  ', Decimal('6611639.208700')),
 (1994.0, None, 'MOZAMBIQUE               ', Decimal('21374700.753400')),
 (1994.0, None, None, Decimal('63964877.706800')),
 (1995.0, 1.0, 'ALGERIA                  ', Decimal('1710963.101200')),
 (1995.0, 1.0, 'ETHIOPIA                 ', Decimal('2151888.944600')),
 (1995.0, 1.0, 'KENYA                    ', Decimal('3062728.794500')),
 (1995.0, 1.0, 'MOROCCO                  ', Decimal('1415118.290900')),
 (1995.0, 1.0, 'MOZAMBIQUE               ', Decimal('4393406.709000')),
 (1995.0, 1.0, None, Decimal('12734105.840200')),
 (1995.0, 2.0, 'ALGERIA                  ', Decimal('2469872.647800')),
 (1995.0, 2.0, 'ETHIOPIA                 ', Decimal('2072574.104100')),
 (1995.0, 2.0, 'KENYA                    ', Decimal('4045135.114300')),
 (1995.0, 2.0, 'MOROCCO                  ', Decimal('1414370.859500')),
 (1995.0, 2.0, 'MOZAMBIQUE               ', Decimal('4663851.233500')),
 (1995.0, 2.0, None, Decimal('14665803.959200')),
 (1995.0, 3.0, 'ALGERIA                  ', Decimal('2323025.573100')),
 (1995.0, 3.0, 'ETHIOPIA                 ', Decimal('1765659.327000')),
 (1995.0, 3.0, 'KENYA                    ', Decimal('4522404.462200')),
 (1995.0, 3.0, 'MOROCCO                  ', Decimal('1914367.366100')),
 (1995.0, 3.0, 'MOZAMBIQUE               ', Decimal('5298974.507600')),
 (1995.0, 3.0, None, Decimal('15824431.236000')),
 (1995.0, 4.0, 'ALGERIA                  ', Decimal('2664568.770300')),
 (1995.0, 4.0, 'ETHIOPIA                 ', Decimal('2594269.346500')),
 (1995.0, 4.0, 'KENYA                    ', Decimal('4275793.057800')),
 (1995.0, 4.0, 'MOROCCO                  ', Decimal('1774755.672000')),
 (1995.0, 4.0, 'MOZAMBIQUE               ', Decimal('5657364.541800')),
 (1995.0, 4.0, None, Decimal('16966751.388400')),
 (1995.0, None, 'ALGERIA                  ', Decimal('9168430.092400')),
 (1995.0, None, 'ETHIOPIA                 ', Decimal('8584391.722200')),
 (1995.0, None, 'KENYA                    ', Decimal('15906061.428800')),
 (1995.0, None, 'MOROCCO                  ', Decimal('6518612.188500')),
 (1995.0, None, 'MOZAMBIQUE               ', Decimal('20013596.991900')),
 (1995.0, None, None, Decimal('60191092.423800')),
 (1996.0, 1.0, 'ALGERIA                  ', Decimal('1743882.334200')),
 (1996.0, 1.0, 'ETHIOPIA                 ', Decimal('1616989.673000')),
 (1996.0, 1.0, 'KENYA                    ', Decimal('4821377.312000')),
 (1996.0, 1.0, 'MOROCCO                  ', Decimal('1854895.628000')),
 (1996.0, 1.0, 'MOZAMBIQUE               ', Decimal('5222288.767300')),
 (1996.0, 1.0, None, Decimal('15259433.714500')),
 (1996.0, 2.0, 'ALGERIA                  ', Decimal('1935865.051800')),
 (1996.0, 2.0, 'ETHIOPIA                 ', Decimal('1538818.483400')),
 (1996.0, 2.0, 'KENYA                    ', Decimal('5922079.883000')),
 (1996.0, 2.0, 'MOROCCO                  ', Decimal('1777119.347000')),
 (1996.0, 2.0, 'MOZAMBIQUE               ', Decimal('4937902.847500')),
 (1996.0, 2.0, None, Decimal('16111785.612700')),
 (1996.0, 3.0, 'ALGERIA                  ', Decimal('2406317.327000')),
 (1996.0, 3.0, 'ETHIOPIA                 ', Decimal('2349147.986000')),
 (1996.0, 3.0, 'KENYA                    ', Decimal('4097861.895800')),
 (1996.0, 3.0, 'MOROCCO                  ', Decimal('1570206.954800')),
 (1996.0, 3.0, 'MOZAMBIQUE               ', Decimal('6200750.613400')),
 (1996.0, 3.0, None, Decimal('16624284.777000')),
 (1996.0, 4.0, 'ALGERIA                  ', Decimal('2051083.562900')),
 (1996.0, 4.0, 'ETHIOPIA                 ', Decimal('2456653.511200')),
 (1996.0, 4.0, 'KENYA                    ', Decimal('4558682.296100')),
 (1996.0, 4.0, 'MOROCCO                  ', Decimal('1491400.971700')),
 (1996.0, 4.0, 'MOZAMBIQUE               ', Decimal('4772788.557500')),
 (1996.0, 4.0, None, Decimal('15330608.899400')),
 (1996.0, None, 'ALGERIA                  ', Decimal('8137148.275900')),
 (1996.0, None, 'ETHIOPIA                 ', Decimal('7961609.653600')),
 (1996.0, None, 'KENYA                    ', Decimal('19400001.386900')),
 (1996.0, None, 'MOROCCO                  ', Decimal('6693622.901500')),
 (1996.0, None, 'MOZAMBIQUE               ', Decimal('21133730.785700')),
 (1996.0, None, None, Decimal('63326113.003600')),
 (1997.0, 1.0, 'ALGERIA                  ', Decimal('3113433.200000')),
 (1997.0, 1.0, 'ETHIOPIA                 ', Decimal('2772495.251000')),
 (1997.0, 1.0, 'KENYA                    ', Decimal('3841596.933800')),
 (1997.0, 1.0, 'MOROCCO                  ', Decimal('1945105.134600')),
 (1997.0, 1.0, 'MOZAMBIQUE               ', Decimal('5745892.743700')),
 (1997.0, 1.0, None, Decimal('17418523.263100')),
 (1997.0, 2.0, 'ALGERIA                  ', Decimal('2832054.009900')),
 (1997.0, 2.0, 'ETHIOPIA                 ', Decimal('1772124.427700')),
 (1997.0, 2.0, 'KENYA                    ', Decimal('4744282.207700')),
 (1997.0, 2.0, 'MOROCCO                  ', Decimal('1545321.889000')),
 (1997.0, 2.0, 'MOZAMBIQUE               ', Decimal('4462141.327700')),
 (1997.0, 2.0, None, Decimal('15355923.862000')),
 (1997.0, 3.0, 'ALGERIA                  ', Decimal('2541358.475800')),
 (1997.0, 3.0, 'ETHIOPIA                 ', Decimal('2714168.449800')),
 (1997.0, 3.0, 'KENYA                    ', Decimal('4809480.165500')),
 (1997.0, 3.0, 'MOROCCO                  ', Decimal('1046858.869700')),
 (1997.0, 3.0, 'MOZAMBIQUE               ', Decimal('4467361.466500')),
 (1997.0, 3.0, None, Decimal('15579227.427300')),
 (1997.0, 4.0, 'ALGERIA                  ', Decimal('2227793.743700')),
 (1997.0, 4.0, 'ETHIOPIA                 ', Decimal('2105001.946300')),
 (1997.0, 4.0, 'KENYA                    ', Decimal('5100876.451100')),
 (1997.0, 4.0, 'MOROCCO                  ', Decimal('1600606.171200')),
 (1997.0, 4.0, 'MOZAMBIQUE               ', Decimal('5163647.334000')),
 (1997.0, 4.0, None, Decimal('16197925.646300')),
 (1997.0, None, 'ALGERIA                  ', Decimal('10714639.429400')),
 (1997.0, None, 'ETHIOPIA                 ', Decimal('9363790.074800')),
 (1997.0, None, 'KENYA                    ', Decimal('18496235.758100')),
 (1997.0, None, 'MOROCCO                  ', Decimal('6137892.064500')),
 (1997.0, None, 'MOZAMBIQUE               ', Decimal('19839042.871900')),
 (1997.0, None, None, Decimal('64551600.198700')),
 (1998.0, 1.0, 'ALGERIA                  ', Decimal('2224586.931800')),
 (1998.0, 1.0, 'ETHIOPIA                 ', Decimal('2123244.814800')),
 (1998.0, 1.0, 'KENYA                    ', Decimal('4646720.909400')),
 (1998.0, 1.0, 'MOROCCO                  ', Decimal('1469312.542900')),
 (1998.0, 1.0, 'MOZAMBIQUE               ', Decimal('4448672.701200')),
 (1998.0, 1.0, None, Decimal('14912537.900100')),
 (1998.0, 2.0, 'ALGERIA                  ', Decimal('1924962.809200')),
 (1998.0, 2.0, 'ETHIOPIA                 ', Decimal('2490025.395400')),
 (1998.0, 2.0, 'KENYA                    ', Decimal('5615897.608300')),
 (1998.0, 2.0, 'MOROCCO                  ', Decimal('1083668.095500')),
 (1998.0, 2.0, 'MOZAMBIQUE               ', Decimal('4964433.336700')),
 (1998.0, 2.0, None, Decimal('16078987.245100')),
 (1998.0, 3.0, 'ALGERIA                  ', Decimal('1405051.993600')),
 (1998.0, 3.0, 'ETHIOPIA                 ', Decimal('1053798.264700')),
 (1998.0, 3.0, 'KENYA                    ', Decimal('1477030.501100')),
 (1998.0, 3.0, 'MOROCCO                  ', Decimal('377468.707700')),
 (1998.0, 3.0, 'MOZAMBIQUE               ', Decimal('2494566.571200')),
 (1998.0, 3.0, None, Decimal('6807916.038300')),
 (1998.0, None, 'ALGERIA                  ', Decimal('5554601.734600')),
 (1998.0, None, 'ETHIOPIA                 ', Decimal('5667068.474900')),
 (1998.0, None, 'KENYA                    ', Decimal('11739649.018800')),
 (1998.0, None, 'MOROCCO                  ', Decimal('2930449.346100')),
 (1998.0, None, 'MOZAMBIQUE               ', Decimal('11907672.609100')),
 (1998.0, None, None, Decimal('37799441.183500')),
 (None, 1.0, 'ALGERIA                  ', Decimal('14855725.038300')),
 (None, 1.0, 'ETHIOPIA                 ', Decimal('14910148.729900')),
 (None, 1.0, 'KENYA                    ', Decimal('29671823.019200')),
 (None, 1.0, 'MOROCCO                  ', Decimal('11228256.080100')),
 (None, 1.0, 'MOZAMBIQUE               ', Decimal('37130557.438400')),
 (None, 1.0, None, Decimal('107796510.305900')),
 (None, 2.0, 'ALGERIA                  ', Decimal('15818302.951000')),
 (None, 2.0, 'ETHIOPIA                 ', Decimal('14816118.213500')),
 (None, 2.0, 'KENYA                    ', Decimal('33765310.434800')),
 (None, 2.0, 'MOROCCO                  ', Decimal('10213302.881800')),
 (None, 2.0, 'MOZAMBIQUE               ', Decimal('35394387.903300')),
 (None, 2.0, None, Decimal('110007422.384400')),
 (None, 3.0, 'ALGERIA                  ', Decimal('16679329.056200')),
 (None, 3.0, 'ETHIOPIA                 ', Decimal('14437646.587600')),
 (None, 3.0, 'KENYA                    ', Decimal('29749994.141400')),
 (None, 3.0, 'MOROCCO                  ', Decimal('10279005.901000')),
 (None, 3.0, 'MOZAMBIQUE               ', Decimal('34735885.564800')),
 (None, 3.0, None, Decimal('105881861.251000')),
 (None, 4.0, 'ALGERIA                  ', Decimal('13704774.437400')),
 (None, 4.0, 'ETHIOPIA                 ', Decimal('13767119.187700')),
 (None, 4.0, 'KENYA                    ', Decimal('27691525.126200')),
 (None, 4.0, 'MOROCCO                  ', Decimal('9711896.280000')),
 (None, 4.0, 'MOZAMBIQUE               ', Decimal('32704741.371100')),
 (None, 4.0, None, Decimal('97580056.402400')),
 (None, None, 'ALGERIA                  ', Decimal('61058131.482900')),
 (None, None, 'ETHIOPIA                 ', Decimal('57931032.718700')),
 (None, None, 'KENYA                    ', Decimal('120878652.721600')),
 (None, None, 'MOROCCO                  ', Decimal('41432461.142900')),
 (None, None, 'MOZAMBIQUE               ', Decimal('139965572.277600')),
 (None, None, None, Decimal('421265850.343700'))]

#### 4. Show how much revenue suppliers from nations of Africa produced in every week of every month of Q1 in 1996.

Note that `orderweek` is from a different hierarchy of the `orderdate` dimension than `orderquarter` and `ordermonth` because a week does not generally belong to only one quarter or month. (However, a month always belongs to exactly one quarter.) This does not change anything in the SQL query below, but is an important conceptual subtlety of cubes.

In [26]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('year', orderdate) AS orderyear,
           DATE_PART('quarter', orderdate) AS orderquarter,
           DATE_PART('month', orderdate) AS ordermonth,
           DATE_PART('week', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT ordermonth, orderweek, nationname, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA' AND orderquarter = 1 AND orderyear = 1996
GROUP BY CUBE(ordermonth, orderweek, nationname)
ORDER BY nationname, ordermonth, orderweek

 * postgresql://postgres:***@postgres:5432/tpch-db
190 rows affected.

[(1.0, 1.0, 'ALGERIA                  ', Decimal('9150.982400')),
 (1.0, 2.0, 'ALGERIA                  ', Decimal('57006.487600')),
 (1.0, 4.0, 'ALGERIA                  ', Decimal('81375.060200')),
 (1.0, 5.0, 'ALGERIA                  ', Decimal('112027.882200')),
 (1.0, None, 'ALGERIA                  ', Decimal('259560.412400')),
 (2.0, 5.0, 'ALGERIA                  ', Decimal('62421.256800')),
 (2.0, 6.0, 'ALGERIA                  ', Decimal('302201.413400')),
 (2.0, 7.0, 'ALGERIA                  ', Decimal('110386.880600')),
 (2.0, 8.0, 'ALGERIA                  ', Decimal('204250.423200')),
 (2.0, 9.0, 'ALGERIA                  ', Decimal('67871.568000')),
 (2.0, None, 'ALGERIA                  ', Decimal('747131.542000')),
 (3.0, 9.0, 'ALGERIA                  ', Decimal('115785.005400')),
 (3.0, 10.0, 'ALGERIA                  ', Decimal('210613.436500')),
 (3.0, 11.0, 'ALGERIA                  ', Decimal('210780.528200')),
 (3.0, 12.0, 'ALGERIA                  ', Decimal('96377.679600')),
 (3.0, 13.0, 'ALGERIA                  ', Decimal('103633.730100')),
 (3.0, None, 'ALGERIA                  ', Decimal('737190.379800')),
 (None, 1.0, 'ALGERIA                  ', Decimal('9150.982400')),
 (None, 2.0, 'ALGERIA                  ', Decimal('57006.487600')),
 (None, 4.0, 'ALGERIA                  ', Decimal('81375.060200')),
 (None, 5.0, 'ALGERIA                  ', Decimal('174449.139000')),
 (None, 6.0, 'ALGERIA                  ', Decimal('302201.413400')),
 (None, 7.0, 'ALGERIA                  ', Decimal('110386.880600')),
 (None, 8.0, 'ALGERIA                  ', Decimal('204250.423200')),
 (None, 9.0, 'ALGERIA                  ', Decimal('183656.573400')),
 (None, 10.0, 'ALGERIA                  ', Decimal('210613.436500')),
 (None, 11.0, 'ALGERIA                  ', Decimal('210780.528200')),
 (None, 12.0, 'ALGERIA                  ', Decimal('96377.679600')),
 (None, 13.0, 'ALGERIA                  ', Decimal('103633.730100')),
 (None, None, 'ALGERIA                  ', Decimal('1743882.334200')),
 (1.0, 1.0, 'ETHIOPIA                 ', Decimal('220712.094300')),
 (1.0, 2.0, 'ETHIOPIA                 ', Decimal('146642.733700')),
 (1.0, 3.0, 'ETHIOPIA                 ', Decimal('34064.398800')),
 (1.0, 4.0, 'ETHIOPIA                 ', Decimal('130283.544000')),
 (1.0, 5.0, 'ETHIOPIA                 ', Decimal('66687.609600')),
 (1.0, None, 'ETHIOPIA                 ', Decimal('598390.380400')),
 (2.0, 5.0, 'ETHIOPIA                 ', Decimal('73508.612400')),
 (2.0, 6.0, 'ETHIOPIA                 ', Decimal('198597.072200')),
 (2.0, 7.0, 'ETHIOPIA                 ', Decimal('92950.592300')),
 (2.0, 8.0, 'ETHIOPIA                 ', Decimal('83478.307300')),
 (2.0, 9.0, 'ETHIOPIA                 ', Decimal('183788.644800')),
 (2.0, None, 'ETHIOPIA                 ', Decimal('632323.229000')),
 (3.0, 9.0, 'ETHIOPIA                 ', Decimal('3601.862400')),
 (3.0, 10.0, 'ETHIOPIA                 ', Decimal('98593.128000')),
 (3.0, 11.0, 'ETHIOPIA                 ', Decimal('3295.771200')),
 (3.0, 12.0, 'ETHIOPIA                 ', Decimal('108537.634400')),
 (3.0, 13.0, 'ETHIOPIA                 ', Decimal('172247.667600')),
 (3.0, None, 'ETHIOPIA                 ', Decimal('386276.063600')),
 (None, 1.0, 'ETHIOPIA                 ', Decimal('220712.094300')),
 (None, 2.0, 'ETHIOPIA                 ', Decimal('146642.733700')),
 (None, 3.0, 'ETHIOPIA                 ', Decimal('34064.398800')),
 (None, 4.0, 'ETHIOPIA                 ', Decimal('130283.544000')),
 (None, 5.0, 'ETHIOPIA                 ', Decimal('140196.222000')),
 (None, 6.0, 'ETHIOPIA                 ', Decimal('198597.072200')),
 (None, 7.0, 'ETHIOPIA                 ', Decimal('92950.592300')),
 (None, 8.0, 'ETHIOPIA                 ', Decimal('83478.307300')),
 (None, 9.0, 'ETHIOPIA                 ', Decimal('187390.507200')),
 (None, 10.0, 'ETHIOPIA                 ', Decimal('98593.128000')),
 (None, 11.0, 'ETHIOPIA                 ', Decimal('3295.771200')),
 (None, 12.0, 'ETHIOPIA                 ', Decimal('108537.634400')),
 (None, 13.0, 'ETHIOPIA                 ', Decimal('172247.667600')),
 (None, None, 'ETHIOPIA                 ', Decimal('1616989.673000')),
 (1.0, 1.0, 'KENYA                    ', Decimal('460497.682800')),
 (1.0, 2.0, 'KENYA                    ', Decimal('527684.275200')),
 (1.0, 3.0, 'KENYA                    ', Decimal('252734.702700')),
 (1.0, 4.0, 'KENYA                    ', Decimal('184717.089000')),
 (1.0, 5.0, 'KENYA                    ', Decimal('19701.801600')),
 (1.0, None, 'KENYA                    ', Decimal('1445335.551300')),
 (2.0, 5.0, 'KENYA                    ', Decimal('102519.242000')),
 (2.0, 6.0, 'KENYA                    ', Decimal('704381.327900')),
 (2.0, 7.0, 'KENYA                    ', Decimal('142760.677500')),
 (2.0, 8.0, 'KENYA                    ', Decimal('648056.711900')),
 (2.0, 9.0, 'KENYA                    ', Decimal('265460.429600')),
 (2.0, None, 'KENYA                    ', Decimal('1863178.388900')),
 (3.0, 9.0, 'KENYA                    ', Decimal('190845.093600')),
 (3.0, 10.0, 'KENYA                    ', Decimal('266220.055600')),
 (3.0, 11.0, 'KENYA                    ', Decimal('457128.532000')),
 (3.0, 12.0, 'KENYA                    ', Decimal('235941.982800')),
 (3.0, 13.0, 'KENYA                    ', Decimal('362727.707800')),
 (3.0, None, 'KENYA                    ', Decimal('1512863.371800')),
 (None, 1.0, 'KENYA                    ', Decimal('460497.682800')),
 (None, 2.0, 'KENYA                    ', Decimal('527684.275200')),
 (None, 3.0, 'KENYA                    ', Decimal('252734.702700')),
 (None, 4.0, 'KENYA                    ', Decimal('184717.089000')),
 (None, 5.0, 'KENYA                    ', Decimal('122221.043600')),
 (None, 6.0, 'KENYA                    ', Decimal('704381.327900')),
 (None, 7.0, 'KENYA                    ', Decimal('142760.677500')),
 (None, 8.0, 'KENYA                    ', Decimal('648056.711900')),
 (None, 9.0, 'KENYA                    ', Decimal('456305.523200')),
 (None, 10.0, 'KENYA                    ', Decimal('266220.055600')),
 (None, 11.0, 'KENYA                    ', Decimal('457128.532000')),
 (None, 12.0, 'KENYA                    ', Decimal('235941.982800')),
 (None, 13.0, 'KENYA                    ', Decimal('362727.707800')),
 (None, None, 'KENYA                    ', Decimal('4821377.312000')),
 (1.0, 1.0, 'MOROCCO                  ', Decimal('114052.293600')),
 (1.0, 2.0, 'MOROCCO                  ', Decimal('92080.467600')),
 (1.0, 3.0, 'MOROCCO                  ', Decimal('114174.513300')),
 (1.0, 4.0, 'MOROCCO                  ', Decimal('11519.773200')),
 (1.0, 5.0, 'MOROCCO                  ', Decimal('189158.400300')),
 (1.0, None, 'MOROCCO                  ', Decimal('520985.448000')),
 (2.0, 5.0, 'MOROCCO                  ', Decimal('28020.900000')),
 (2.0, 6.0, 'MOROCCO                  ', Decimal('208774.322200')),
 (2.0, 7.0, 'MOROCCO                  ', Decimal('94508.225400')),
 (2.0, 8.0, 'MOROCCO                  ', Decimal('164485.105900')),
 (2.0, 9.0, 'MOROCCO                  ', Decimal('87725.526400')),
 (2.0, None, 'MOROCCO                  ', Decimal('583514.079900')),
 (3.0, 9.0, 'MOROCCO                  ', Decimal('61346.440800')),
 (3.0, 10.0, 'MOROCCO                  ', Decimal('21582.960000')),
 (3.0, 11.0, 'MOROCCO                  ', Decimal('355335.134900')),
 (3.0, 12.0, 'MOROCCO                  ', Decimal('235891.371100')),
 (3.0, 13.0, 'MOROCCO                  ', Decimal('76240.193300')),
 (3.0, None, 'MOROCCO                  ', Decimal('750396.100100')),
 (None, 1.0, 'MOROCCO                  ', Decimal('114052.293600')),
 (None, 2.0, 'MOROCCO                  ', Decimal('92080.467600')),
 (None, 3.0, 'MOROCCO                  ', Decimal('114174.513300')),
 (None, 4.0, 'MOROCCO                  ', Decimal('11519.773200')),
 (None, 5.0, 'MOROCCO                  ', Decimal('217179.300300')),
 (None, 6.0, 'MOROCCO                  ', Decimal('208774.322200')),
 (None, 7.0, 'MOROCCO                  ', Decimal('94508.225400')),
 (None, 8.0, 'MOROCCO                  ', Decimal('164485.105900')),
 (None, 9.0, 'MOROCCO                  ', Decimal('149071.967200')),
 (None, 10.0, 'MOROCCO                  ', Decimal('21582.960000')),
 (None, 11.0, 'MOROCCO                  ', Decimal('355335.134900')),
 (None, 12.0, 'MOROCCO                  ', Decimal('235891.371100')),
 (None, 13.0, 'MOROCCO                  ', Decimal('76240.193300')),
 (None, None, 'MOROCCO                  ', Decimal('1854895.628000')),
 (1.0, 1.0, 'MOZAMBIQUE               ', Decimal('278941.525100')),
 (1.0, 2.0, 'MOZAMBIQUE               ', Decimal('536062.583900')),
 (1.0, 3.0, 'MOZAMBIQUE               ', Decimal('305570.412800')),
 (1.0, 4.0, 'MOZAMBIQUE               ', Decimal('292406.655400')),
 (1.0, 5.0, 'MOZAMBIQUE               ', Decimal('159995.811100')),
 (1.0, None, 'MOZAMBIQUE               ', Decimal('1572976.988300')),
 (2.0, 5.0, 'MOZAMBIQUE               ', Decimal('148858.819400')),
 (2.0, 6.0, 'MOZAMBIQUE               ', Decimal('482214.966000')),
 (2.0, 7.0, 'MOZAMBIQUE               ', Decimal('219407.799100')),
 (2.0, 8.0, 'MOZAMBIQUE               ', Decimal('297226.253500')),
 (2.0, 9.0, 'MOZAMBIQUE               ', Decimal('189822.762500')),
 (2.0, None, 'MOZAMBIQUE               ', Decimal('1337530.600500')),
 (3.0, 9.0, 'MOZAMBIQUE               ', Decimal('535246.392800')),
 (3.0, 10.0, 'MOZAMBIQUE               ', Decimal('276789.930100')),
 (3.0, 11.0, 'MOZAMBIQUE               ', Decimal('679507.330100')),
 (3.0, 12.0, 'MOZAMBIQUE               ', Decimal('380449.215300')),
 (3.0, 13.0, 'MOZAMBIQUE               ', Decimal('439788.310200')),
 (3.0, None, 'MOZAMBIQUE               ', Decimal('2311781.178500')),
 (None, 1.0, 'MOZAMBIQUE               ', Decimal('278941.525100')),
 (None, 2.0, 'MOZAMBIQUE               ', Decimal('536062.583900')),
 (None, 3.0, 'MOZAMBIQUE               ', Decimal('305570.412800')),
 (None, 4.0, 'MOZAMBIQUE               ', Decimal('292406.655400')),
 (None, 5.0, 'MOZAMBIQUE               ', Decimal('308854.630500')),
 (None, 6.0, 'MOZAMBIQUE               ', Decimal('482214.966000')),
 (None, 7.0, 'MOZAMBIQUE               ', Decimal('219407.799100')),
 (None, 8.0, 'MOZAMBIQUE               ', Decimal('297226.253500')),
 (None, 9.0, 'MOZAMBIQUE               ', Decimal('725069.155300')),
 (None, 10.0, 'MOZAMBIQUE               ', Decimal('276789.930100')),
 (None, 11.0, 'MOZAMBIQUE               ', Decimal('679507.330100')),
 (None, 12.0, 'MOZAMBIQUE               ', Decimal('380449.215300')),
 (None, 13.0, 'MOZAMBIQUE               ', Decimal('439788.310200')),
 (None, None, 'MOZAMBIQUE               ', Decimal('5222288.767300')),
 (1.0, 1.0, None, Decimal('1083354.578200')),
 (1.0, 2.0, None, Decimal('1359476.548000')),
 (1.0, 3.0, None, Decimal('706544.027600')),
 (1.0, 4.0, None, Decimal('700302.121800')),
 (1.0, 5.0, None, Decimal('547571.504800')),
 (1.0, None, None, Decimal('4397248.780400')),
 (2.0, 5.0, None, Decimal('415328.830600')),
 (2.0, 6.0, None, Decimal('1896169.101700')),
 (2.0, 7.0, None, Decimal('660014.174900')),
 (2.0, 8.0, None, Decimal('1397496.801800')),
 (2.0, 9.0, None, Decimal('794668.931300')),
 (2.0, None, None, Decimal('5163677.840300')),
 (3.0, 9.0, None, Decimal('906824.795000')),
 (3.0, 10.0, None, Decimal('873799.510200')),
 (3.0, 11.0, None, Decimal('1706047.296400')),
 (3.0, 12.0, None, Decimal('1057197.883200')),
 (3.0, 13.0, None, Decimal('1154637.609000')),
 (3.0, None, None, Decimal('5698507.093800')),
 (None, 1.0, None, Decimal('1083354.578200')),
 (None, 2.0, None, Decimal('1359476.548000')),
 (None, 3.0, None, Decimal('706544.027600')),
 (None, 4.0, None, Decimal('700302.121800')),
 (None, 5.0, None, Decimal('962900.335400')),
 (None, 6.0, None, Decimal('1896169.101700')),
 (None, 7.0, None, Decimal('660014.174900')),
 (None, 8.0, None, Decimal('1397496.801800')),
 (None, 9.0, None, Decimal('1701493.726300')),
 (None, 10.0, None, Decimal('873799.510200')),
 (None, 11.0, None, Decimal('1706047.296400')),
 (None, 12.0, None, Decimal('1057197.883200')),
 (None, 13.0, None, Decimal('1154637.609000')),
 (None, None, None, Decimal('15259433.714500'))]

#### 5. Show how much revenue suppliers from nations of Africa produced in every year with "urgent" orders.

In [27]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT orderyear, nationname, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA' AND orderpriority = '1-URGENT'
GROUP BY CUBE(orderyear, nationname)
ORDER BY orderyear, nationname

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[(1992.0, 'ALGERIA                  ', Decimal('2079676.920500')),
 (1992.0, 'ETHIOPIA                 ', Decimal('1787769.017900')),
 (1992.0, 'KENYA                    ', Decimal('4379720.382600')),
 (1992.0, 'MOROCCO                  ', Decimal('1063439.518700')),
 (1992.0, 'MOZAMBIQUE               ', Decimal('5123490.183000')),
 (1992.0, None, Decimal('14434096.022700')),
 (1993.0, 'ALGERIA                  ', Decimal('1849416.995600')),
 (1993.0, 'ETHIOPIA                 ', Decimal('1628439.771100')),
 (1993.0, 'KENYA                    ', Decimal('2988587.999200')),
 (1993.0, 'MOROCCO                  ', Decimal('1495434.260900')),
 (1993.0, 'MOZAMBIQUE               ', Decimal('4369470.490000')),
 (1993.0, None, Decimal('12331349.516800')),
 (1994.0, 'ALGERIA                  ', Decimal('2507140.811600')),
 (1994.0, 'ETHIOPIA                 ', Decimal('1494422.202300')),
 (1994.0, 'KENYA                    ', Decimal('4116800.756000')),
 (1994.0, 'MOROCCO                  ', Decimal('1830280.806700')),
 (1994.0, 'MOZAMBIQUE               ', Decimal('4369376.653400')),
 (1994.0, None, Decimal('14318021.230000')),
 (1995.0, 'ALGERIA                  ', Decimal('1603099.650400')),
 (1995.0, 'ETHIOPIA                 ', Decimal('1759801.809500')),
 (1995.0, 'KENYA                    ', Decimal('3660285.569900')),
 (1995.0, 'MOROCCO                  ', Decimal('1096877.269900')),
 (1995.0, 'MOZAMBIQUE               ', Decimal('4618204.835600')),
 (1995.0, None, Decimal('12738269.135300')),
 (1996.0, 'ALGERIA                  ', Decimal('1994410.891800')),
 (1996.0, 'ETHIOPIA                 ', Decimal('1831385.379300')),
 (1996.0, 'KENYA                    ', Decimal('3716622.317700')),
 (1996.0, 'MOROCCO                  ', Decimal('1230008.185500')),
 (1996.0, 'MOZAMBIQUE               ', Decimal('4340760.256900')),
 (1996.0, None, Decimal('13113187.031200')),
 (1997.0, 'ALGERIA                  ', Decimal('2582016.190800')),
 (1997.0, 'ETHIOPIA                 ', Decimal('2133682.835800')),
 (1997.0, 'KENYA                    ', Decimal('3507061.851500')),
 (1997.0, 'MOROCCO                  ', Decimal('1088009.974900')),
 (1997.0, 'MOZAMBIQUE               ', Decimal('4339793.785400')),
 (1997.0, None, Decimal('13650564.638400')),
 (1998.0, 'ALGERIA                  ', Decimal('1277526.845100')),
 (1998.0, 'ETHIOPIA                 ', Decimal('1134265.914200')),
 (1998.0, 'KENYA                    ', Decimal('2043598.026600')),
 (1998.0, 'MOROCCO                  ', Decimal('563191.540600')),
 (1998.0, 'MOZAMBIQUE               ', Decimal('1863195.466800')),
 (1998.0, None, Decimal('6881777.793300')),
 (None, 'ALGERIA                  ', Decimal('13893288.305800')),
 (None, 'ETHIOPIA                 ', Decimal('11769766.930100')),
 (None, 'KENYA                    ', Decimal('24412676.903500')),
 (None, 'MOROCCO                  ', Decimal('8367241.557200')),
 (None, 'MOZAMBIQUE               ', Decimal('29024291.671100')),
 (None, None, Decimal('87467265.367700'))]

#### 6. Show the average order quantity for parts from suppliers from nations in Africa per year.

In [28]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT orderyear, nationname, AVG(olquantity)
FROM cube
WHERE regionname = 'AFRICA' AND orderpriority = '1-URGENT'
GROUP BY CUBE(orderyear, nationname)
ORDER BY orderyear, nationname

 * postgresql://postgres:***@postgres:5432/tpch-db
48 rows affected.

[(1992.0, 'ALGERIA                  ', Decimal('24.0615384615384615')),
 (1992.0, 'ETHIOPIA                 ', Decimal('23.3392857142857143')),
 (1992.0, 'KENYA                    ', Decimal('27.6198347107438017')),
 (1992.0, 'MOROCCO                  ', Decimal('26.5161290322580645')),
 (1992.0, 'MOZAMBIQUE               ', Decimal('24.7628205128205128')),
 (1992.0, None, Decimal('25.4032634032634033')),
 (1993.0, 'ALGERIA                  ', Decimal('25.7142857142857143')),
 (1993.0, 'ETHIOPIA                 ', Decimal('25.4680851063829787')),
 (1993.0, 'KENYA                    ', Decimal('23.7422680412371134')),
 (1993.0, 'MOROCCO                  ', Decimal('27.8292682926829268')),
 (1993.0, 'MOZAMBIQUE               ', Decimal('26.7933884297520661')),
 (1993.0, None, Decimal('25.7541436464088398')),
 (1994.0, 'ALGERIA                  ', Decimal('26.1594202898550725')),
 (1994.0, 'ETHIOPIA                 ', Decimal('23.4400000000000000')),
 (1994.0, 'KENYA                    ', Decimal('24.8292682926829268')),
 (1994.0, 'MOROCCO                  ', Decimal('31.7560975609756098')),
 (1994.0, 'MOZAMBIQUE               ', Decimal('26.0080645161290323')),
 (1994.0, None, Decimal('25.9410319410319410')),
 (1995.0, 'ALGERIA                  ', Decimal('23.6153846153846154')),
 (1995.0, 'ETHIOPIA                 ', Decimal('26.0212765957446809')),
 (1995.0, 'KENYA                    ', Decimal('24.5140186915887850')),
 (1995.0, 'MOROCCO                  ', Decimal('25.4062500000000000')),
 (1995.0, 'MOZAMBIQUE               ', Decimal('26.0992366412213740')),
 (1995.0, None, Decimal('25.2195121951219512')),
 (1996.0, 'ALGERIA                  ', Decimal('25.5967741935483871')),
 (1996.0, 'ETHIOPIA                 ', Decimal('24.5636363636363636')),
 (1996.0, 'KENYA                    ', Decimal('25.6272727272727273')),
 (1996.0, 'MOROCCO                  ', Decimal('23.2307692307692308')),
 (1996.0, 'MOZAMBIQUE               ', Decimal('24.0217391304347826')),
 (1996.0, None, Decimal('24.6980198019801980')),
 (1997.0, 'ALGERIA                  ', Decimal('29.1230769230769231')),
 (1997.0, 'ETHIOPIA                 ', Decimal('26.2923076923076923')),
 (1997.0, 'KENYA                    ', Decimal('23.8425925925925926')),
 (1997.0, 'MOROCCO                  ', Decimal('23.6571428571428571')),
 (1997.0, 'MOZAMBIQUE               ', Decimal('27.7049180327868852')),
 (1997.0, None, Decimal('26.2911392405063291')),
 (1998.0, 'ALGERIA                  ', Decimal('25.5789473684210526')),
 (1998.0, 'ETHIOPIA                 ', Decimal('26.5151515151515152')),
 (1998.0, 'KENYA                    ', Decimal('26.3833333333333333')),
 (1998.0, 'MOROCCO                  ', Decimal('30.1875000000000000')),
 (1998.0, 'MOZAMBIQUE               ', Decimal('21.8688524590163934')),
 (1998.0, None, Decimal('25.2259615384615385')),
 (None, 'ALGERIA                  ', Decimal('25.7714987714987715')),
 (None, 'ETHIOPIA                 ', Decimal('25.0254957507082153')),
 (None, 'KENYA                    ', Decimal('25.2052341597796143')),
 (None, 'MOROCCO                  ', Decimal('26.7872340425531915')),
 (None, 'MOZAMBIQUE               ', Decimal('25.5310668229777257')),
 (None, None, Decimal('25.5225330225330225'))]

#### 7. Show how much revenue suppliers from nations of Africa (as rows) produced in every quarter of every year (as columns).

Columns and row of a cube are both represented as columns when mapped to relations and SQL. A tool similar to Excel's PivotTable that automatically generates SQL queries would probably just flip the order of the columns.

In [29]:
%%sql
WITH cube AS (
    SELECT olquantity, partretailprice, oldiscount,
           orderdate, nationname, regionname, orderpriority,
           olquantity * partretailprice * (1-oldiscount) AS revenue,
           DATE_PART('YEAR', orderdate) AS orderyear,
           DATE_PART('QUARTER', orderdate) AS orderquarter,
           DATE_PART('MONTH', orderdate) AS ordermonth,
           DATE_PART('WEEK', orderdate) AS orderweek
    FROM orderline ol
    JOIN orders o      ON ol.orderid = o.orderid
    JOIN supplypart sp ON ol.partId = sp.partId AND ol.supplierId = sp.supplierId
    JOIN part p        ON sp.partId = p.partId
    JOIN supplier s    ON sp.supplierId = s.supplierId
    JOIN nation sn     ON s.nationId = sn.nationId
    JOIN region sr     ON sn.regionId = sr.regionId
)
SELECT nationname, orderyear, orderquarter, SUM(revenue)
FROM cube
WHERE regionname = 'AFRICA'
GROUP BY CUBE(nationname, orderyear, orderquarter)
ORDER BY nationname, orderyear, orderquarter

 * postgresql://postgres:***@postgres:5432/tpch-db
234 rows affected.

[('ALGERIA                  ', 1992.0, 1.0, Decimal('1958124.794000')),
 ('ALGERIA                  ', 1992.0, 2.0, Decimal('2375436.331600')),
 ('ALGERIA                  ', 1992.0, 3.0, Decimal('2310787.536700')),
 ('ALGERIA                  ', 1992.0, 4.0, Decimal('1924395.457800')),
 ('ALGERIA                  ', 1992.0, None, Decimal('8568744.120100')),
 ('ALGERIA                  ', 1993.0, 1.0, Decimal('1850076.134000')),
 ('ALGERIA                  ', 1993.0, 2.0, Decimal('2194947.127800')),
 ('ALGERIA                  ', 1993.0, 3.0, Decimal('3305010.816700')),
 ('ALGERIA                  ', 1993.0, 4.0, Decimal('2466948.517100')),
 ('ALGERIA                  ', 1993.0, None, Decimal('9816982.595600')),
 ('ALGERIA                  ', 1994.0, 1.0, Decimal('2254658.543100')),
 ('ALGERIA                  ', 1994.0, 2.0, Decimal('2085164.972900')),
 ('ALGERIA                  ', 1994.0, 3.0, Decimal('2387777.333300')),
 ('ALGERIA                  ', 1994.0, 4.0, Decimal('2369984.385600')),
 ('ALGERIA                  ', 1994.0, None, Decimal('9097585.234900')),
 ('ALGERIA                  ', 1995.0, 1.0, Decimal('1710963.101200')),
 ('ALGERIA                  ', 1995.0, 2.0, Decimal('2469872.647800')),
 ('ALGERIA                  ', 1995.0, 3.0, Decimal('2323025.573100')),
 ('ALGERIA                  ', 1995.0, 4.0, Decimal('2664568.770300')),
 ('ALGERIA                  ', 1995.0, None, Decimal('9168430.092400')),
 ('ALGERIA                  ', 1996.0, 1.0, Decimal('1743882.334200')),
 ('ALGERIA                  ', 1996.0, 2.0, Decimal('1935865.051800')),
 ('ALGERIA                  ', 1996.0, 3.0, Decimal('2406317.327000')),
 ('ALGERIA                  ', 1996.0, 4.0, Decimal('2051083.562900')),
 ('ALGERIA                  ', 1996.0, None, Decimal('8137148.275900')),
 ('ALGERIA                  ', 1997.0, 1.0, Decimal('3113433.200000')),
 ('ALGERIA                  ', 1997.0, 2.0, Decimal('2832054.009900')),
 ('ALGERIA                  ', 1997.0, 3.0, Decimal('2541358.475800')),
 ('ALGERIA                  ', 1997.0, 4.0, Decimal('2227793.743700')),
 ('ALGERIA                  ', 1997.0, None, Decimal('10714639.429400')),
 ('ALGERIA                  ', 1998.0, 1.0, Decimal('2224586.931800')),
 ('ALGERIA                  ', 1998.0, 2.0, Decimal('1924962.809200')),
 ('ALGERIA                  ', 1998.0, 3.0, Decimal('1405051.993600')),
 ('ALGERIA                  ', 1998.0, None, Decimal('5554601.734600')),
 ('ALGERIA                  ', None, 1.0, Decimal('14855725.038300')),
 ('ALGERIA                  ', None, 2.0, Decimal('15818302.951000')),
 ('ALGERIA                  ', None, 3.0, Decimal('16679329.056200')),
 ('ALGERIA                  ', None, 4.0, Decimal('13704774.437400')),
 ('ALGERIA                  ', None, None, Decimal('61058131.482900')),
 ('ETHIOPIA                 ', 1992.0, 1.0, Decimal('2268245.986900')),
 ('ETHIOPIA                 ', 1992.0, 2.0, Decimal('2555879.440400')),
 ('ETHIOPIA                 ', 1992.0, 3.0, Decimal('2342687.385500')),
 ('ETHIOPIA                 ', 1992.0, 4.0, Decimal('1911135.205200')),
 ('ETHIOPIA                 ', 1992.0, None, Decimal('9077948.018000')),
 ('ETHIOPIA                 ', 1993.0, 1.0, Decimal('1856033.387500')),
 ('ETHIOPIA                 ', 1993.0, 2.0, Decimal('2175923.734700')),
 ('ETHIOPIA                 ', 1993.0, 3.0, Decimal('2019936.525500')),
 ('ETHIOPIA                 ', 1993.0, 4.0, Decimal('2485106.373700')),
 ('ETHIOPIA                 ', 1993.0, None, Decimal('8537000.021400')),
 ('ETHIOPIA                 ', 1994.0, 1.0, Decimal('2121250.672100')),
 ('ETHIOPIA                 ', 1994.0, 2.0, Decimal('2210772.627800')),
 ('ETHIOPIA                 ', 1994.0, 3.0, Decimal('2192248.649100')),
 ('ETHIOPIA                 ', 1994.0, 4.0, Decimal('2214952.804800')),
 ('ETHIOPIA                 ', 1994.0, None, Decimal('8739224.753800')),
 ('ETHIOPIA                 ', 1995.0, 1.0, Decimal('2151888.944600')),
 ('ETHIOPIA                 ', 1995.0, 2.0, Decimal('2072574.104100')),
 ('ETHIOPIA                 ', 1995.0, 3.0, Decimal('1765659.327000')),
 ('ETHIOPIA                 ', 1995.0, 4.0, Decimal('2594269.346500')),
 ('ETHIOPIA                 ', 1995.0, None, Decimal('8584391.722200')),
 ('ETHIOPIA                 ', 1996.0, 1.0, Decimal('1616989.673000')),
 ('ETHIOPIA                 ', 1996.0, 2.0, Decimal('1538818.483400')),
 ('ETHIOPIA                 ', 1996.0, 3.0, Decimal('2349147.986000')),
 ('ETHIOPIA                 ', 1996.0, 4.0, Decimal('2456653.511200')),
 ('ETHIOPIA                 ', 1996.0, None, Decimal('7961609.653600')),
 ('ETHIOPIA                 ', 1997.0, 1.0, Decimal('2772495.251000')),
 ('ETHIOPIA                 ', 1997.0, 2.0, Decimal('1772124.427700')),
 ('ETHIOPIA                 ', 1997.0, 3.0, Decimal('2714168.449800')),
 ('ETHIOPIA                 ', 1997.0, 4.0, Decimal('2105001.946300')),
 ('ETHIOPIA                 ', 1997.0, None, Decimal('9363790.074800')),
 ('ETHIOPIA                 ', 1998.0, 1.0, Decimal('2123244.814800')),
 ('ETHIOPIA                 ', 1998.0, 2.0, Decimal('2490025.395400')),
 ('ETHIOPIA                 ', 1998.0, 3.0, Decimal('1053798.264700')),
 ('ETHIOPIA                 ', 1998.0, None, Decimal('5667068.474900')),
 ('ETHIOPIA                 ', None, 1.0, Decimal('14910148.729900')),
 ('ETHIOPIA                 ', None, 2.0, Decimal('14816118.213500')),
 ('ETHIOPIA                 ', None, 3.0, Decimal('14437646.587600')),
 ('ETHIOPIA                 ', None, 4.0, Decimal('13767119.187700')),
 ('ETHIOPIA                 ', None, None, Decimal('57931032.718700')),
 ('KENYA                    ', 1992.0, 1.0, Decimal('4728310.634200')),
 ('KENYA                    ', 1992.0, 2.0, Decimal('4904382.264100')),
 ('KENYA                    ', 1992.0, 3.0, Decimal('4768063.528600')),
 ('KENYA                    ', 1992.0, 4.0, Decimal('4443835.885100')),
 ('KENYA                    ', 1992.0, None, Decimal('18844592.312000')),
 ('KENYA                    ', 1993.0, 1.0, Decimal('4167965.875600')),
 ('KENYA                    ', 1993.0, 2.0, Decimal('4075936.873500')),
 ('KENYA                    ', 1993.0, 3.0, Decimal('5049824.597100')),
 ('KENYA                    ', 1993.0, 4.0, Decimal('5056657.714800')),
 ('KENYA                    ', 1993.0, None, Decimal('18350385.061000')),
 ('KENYA                    ', 1994.0, 1.0, Decimal('4403122.559700')),
 ('KENYA                    ', 1994.0, 2.0, Decimal('4457596.483900')),
 ('KENYA                    ', 1994.0, 3.0, Decimal('5025328.991100')),
 ('KENYA                    ', 1994.0, 4.0, Decimal('4255679.721300')),
 ('KENYA                    ', 1994.0, None, Decimal('18141727.756000')),
 ('KENYA                    ', 1995.0, 1.0, Decimal('3062728.794500')),
 ('KENYA                    ', 1995.0, 2.0, Decimal('4045135.114300')),
 ('KENYA                    ', 1995.0, 3.0, Decimal('4522404.462200')),
 ('KENYA                    ', 1995.0, 4.0, Decimal('4275793.057800')),
 ('KENYA                    ', 1995.0, None, Decimal('15906061.428800')),
 ('KENYA                    ', 1996.0, 1.0, Decimal('4821377.312000')),
 ('KENYA                    ', 1996.0, 2.0, Decimal('5922079.883000')),
 ('KENYA                    ', 1996.0, 3.0, Decimal('4097861.895800')),
 ('KENYA                    ', 1996.0, 4.0, Decimal('4558682.296100')),
 ('KENYA                    ', 1996.0, None, Decimal('19400001.386900')),
 ('KENYA                    ', 1997.0, 1.0, Decimal('3841596.933800')),
 ('KENYA                    ', 1997.0, 2.0, Decimal('4744282.207700')),
 ('KENYA                    ', 1997.0, 3.0, Decimal('4809480.165500')),
 ('KENYA                    ', 1997.0, 4.0, Decimal('5100876.451100')),
 ('KENYA                    ', 1997.0, None, Decimal('18496235.758100')),
 ('KENYA                    ', 1998.0, 1.0, Decimal('4646720.909400')),
 ('KENYA                    ', 1998.0, 2.0, Decimal('5615897.608300')),
 ('KENYA                    ', 1998.0, 3.0, Decimal('1477030.501100')),
 ('KENYA                    ', 1998.0, None, Decimal('11739649.018800')),
 ('KENYA                    ', None, 1.0, Decimal('29671823.019200')),
 ('KENYA                    ', None, 2.0, Decimal('33765310.434800')),
 ('KENYA                    ', None, 3.0, Decimal('29749994.141400')),
 ('KENYA                    ', None, 4.0, Decimal('27691525.126200')),
 ('KENYA                    ', None, None, Decimal('120878652.721600')),
 ('MOROCCO                  ', 1992.0, 1.0, Decimal('1397538.037500')),
 ('MOROCCO                  ', 1992.0, 2.0, Decimal('1355226.780000')),
 ('MOROCCO                  ', 1992.0, 3.0, Decimal('1579660.489600')),
 ('MOROCCO                  ', 1992.0, 4.0, Decimal('1476156.336800')),
 ('MOROCCO                  ', 1992.0, None, Decimal('5808581.643900')),
 ('MOROCCO                  ', 1993.0, 1.0, Decimal('1632535.383700')),
 ('MOROCCO                  ', 1993.0, 2.0, Decimal('1318992.359500')),
 ('MOROCCO                  ', 1993.0, 3.0, Decimal('1808143.881300')),
 ('MOROCCO                  ', 1993.0, 4.0, Decimal('1971992.165200')),
 ('MOROCCO                  ', 1993.0, None, Decimal('6731663.789700')),
 ('MOROCCO                  ', 1994.0, 1.0, Decimal('1513751.062500')),
 ('MOROCCO                  ', 1994.0, 2.0, Decimal('1718603.551300')),
 ('MOROCCO                  ', 1994.0, 3.0, Decimal('1982299.631800')),
 ('MOROCCO                  ', 1994.0, 4.0, Decimal('1396984.963100')),
 ('MOROCCO                  ', 1994.0, None, Decimal('6611639.208700')),
 ('MOROCCO                  ', 1995.0, 1.0, Decimal('1415118.290900')),
 ('MOROCCO                  ', 1995.0, 2.0, Decimal('1414370.859500')),
 ('MOROCCO                  ', 1995.0, 3.0, Decimal('1914367.366100')),
 ('MOROCCO                  ', 1995.0, 4.0, Decimal('1774755.672000')),
 ('MOROCCO                  ', 1995.0, None, Decimal('6518612.188500')),
 ('MOROCCO                  ', 1996.0, 1.0, Decimal('1854895.628000')),
 ('MOROCCO                  ', 1996.0, 2.0, Decimal('1777119.347000')),
 ('MOROCCO                  ', 1996.0, 3.0, Decimal('1570206.954800')),
 ('MOROCCO                  ', 1996.0, 4.0, Decimal('1491400.971700')),
 ('MOROCCO                  ', 1996.0, None, Decimal('6693622.901500')),
 ('MOROCCO                  ', 1997.0, 1.0, Decimal('1945105.134600')),
 ('MOROCCO                  ', 1997.0, 2.0, Decimal('1545321.889000')),
 ('MOROCCO                  ', 1997.0, 3.0, Decimal('1046858.869700')),
 ('MOROCCO                  ', 1997.0, 4.0, Decimal('1600606.171200')),
 ('MOROCCO                  ', 1997.0, None, Decimal('6137892.064500')),
 ('MOROCCO                  ', 1998.0, 1.0, Decimal('1469312.542900')),
 ('MOROCCO                  ', 1998.0, 2.0, Decimal('1083668.095500')),
 ('MOROCCO                  ', 1998.0, 3.0, Decimal('377468.707700')),
 ('MOROCCO                  ', 1998.0, None, Decimal('2930449.346100')),
 ('MOROCCO                  ', None, 1.0, Decimal('11228256.080100')),
 ('MOROCCO                  ', None, 2.0, Decimal('10213302.881800')),
 ('MOROCCO                  ', None, 3.0, Decimal('10279005.901000')),
 ('MOROCCO                  ', None, 4.0, Decimal('9711896.280000')),
 ('MOROCCO                  ', None, None, Decimal('41432461.142900')),
 ('MOZAMBIQUE               ', 1992.0, 1.0, Decimal('6965242.876100')),
 ('MOZAMBIQUE               ', 1992.0, 2.0, Decimal('5267473.732700')),
 ('MOZAMBIQUE               ', 1992.0, 3.0, Decimal('5426317.167400')),
 ('MOZAMBIQUE               ', 1992.0, 4.0, Decimal('5309316.859300')),
 ('MOZAMBIQUE               ', 1992.0, None, Decimal('22968350.635500')),
 ('MOZAMBIQUE               ', 1993.0, 1.0, Decimal('5700710.116200')),
 ('MOZAMBIQUE               ', 1993.0, 2.0, Decimal('5563226.025800')),
 ('MOZAMBIQUE               ', 1993.0, 3.0, Decimal('5446698.529300')),
 ('MOZAMBIQUE               ', 1993.0, 4.0, Decimal('6017842.958800')),
 ('MOZAMBIQUE               ', 1993.0, None, Decimal('22728477.630100')),
 ('MOZAMBIQUE               ', 1994.0, 1.0, Decimal('4654343.524900')),
 ('MOZAMBIQUE               ', 1994.0, 2.0, Decimal('5535359.399400')),
 ('MOZAMBIQUE               ', 1994.0, 3.0, Decimal('5401216.709400')),
 ('MOZAMBIQUE               ', 1994.0, 4.0, Decimal('5783781.119700')),
 ('MOZAMBIQUE               ', 1994.0, None, Decimal('21374700.753400')),
 ('MOZAMBIQUE               ', 1995.0, 1.0, Decimal('4393406.709000')),
 ('MOZAMBIQUE               ', 1995.0, 2.0, Decimal('4663851.233500')),
 ('MOZAMBIQUE               ', 1995.0, 3.0, Decimal('5298974.507600')),
 ('MOZAMBIQUE               ', 1995.0, 4.0, Decimal('5657364.541800')),
 ('MOZAMBIQUE               ', 1995.0, None, Decimal('20013596.991900')),
 ('MOZAMBIQUE               ', 1996.0, 1.0, Decimal('5222288.767300')),
 ('MOZAMBIQUE               ', 1996.0, 2.0, Decimal('4937902.847500')),
 ('MOZAMBIQUE               ', 1996.0, 3.0, Decimal('6200750.613400')),
 ('MOZAMBIQUE               ', 1996.0, 4.0, Decimal('4772788.557500')),
 ('MOZAMBIQUE               ', 1996.0, None, Decimal('21133730.785700')),
 ('MOZAMBIQUE               ', 1997.0, 1.0, Decimal('5745892.743700')),
 ('MOZAMBIQUE               ', 1997.0, 2.0, Decimal('4462141.327700')),
 ('MOZAMBIQUE               ', 1997.0, 3.0, Decimal('4467361.466500')),
 ('MOZAMBIQUE               ', 1997.0, 4.0, Decimal('5163647.334000')),
 ('MOZAMBIQUE               ', 1997.0, None, Decimal('19839042.871900')),
 ('MOZAMBIQUE               ', 1998.0, 1.0, Decimal('4448672.701200')),
 ('MOZAMBIQUE               ', 1998.0, 2.0, Decimal('4964433.336700')),
 ('MOZAMBIQUE               ', 1998.0, 3.0, Decimal('2494566.571200')),
 ('MOZAMBIQUE               ', 1998.0, None, Decimal('11907672.609100')),
 ('MOZAMBIQUE               ', None, 1.0, Decimal('37130557.438400')),
 ('MOZAMBIQUE               ', None, 2.0, Decimal('35394387.903300')),
 ('MOZAMBIQUE               ', None, 3.0, Decimal('34735885.564800')),
 ('MOZAMBIQUE               ', None, 4.0, Decimal('32704741.371100')),
 ('MOZAMBIQUE               ', None, None, Decimal('139965572.277600')),
 (None, 1992.0, 1.0, Decimal('17317462.328700')),
 (None, 1992.0, 2.0, Decimal('16458398.548800')),
 (None, 1992.0, 3.0, Decimal('16427516.107800')),
 (None, 1992.0, 4.0, Decimal('15064839.744200')),
 (None, 1992.0, None, Decimal('65268216.729500')),
 (None, 1993.0, 1.0, Decimal('15207320.897000')),
 (None, 1993.0, 2.0, Decimal('15329026.121300')),
 (None, 1993.0, 3.0, Decimal('17629614.349900')),
 (None, 1993.0, 4.0, Decimal('17998547.729600')),
 (None, 1993.0, None, Decimal('66164509.097800')),
 (None, 1994.0, 1.0, Decimal('14947126.362300')),
 (None, 1994.0, 2.0, Decimal('16007497.035300')),
 (None, 1994.0, 3.0, Decimal('16988871.314700')),
 (None, 1994.0, 4.0, Decimal('16021382.994500')),
 (None, 1994.0, None, Decimal('63964877.706800')),
 (None, 1995.0, 1.0, Decimal('12734105.840200')),
 (None, 1995.0, 2.0, Decimal('14665803.959200')),
 (None, 1995.0, 3.0, Decimal('15824431.236000')),
 (None, 1995.0, 4.0, Decimal('16966751.388400')),
 (None, 1995.0, None, Decimal('60191092.423800')),
 (None, 1996.0, 1.0, Decimal('15259433.714500')),
 (None, 1996.0, 2.0, Decimal('16111785.612700')),
 (None, 1996.0, 3.0, Decimal('16624284.777000')),
 (None, 1996.0, 4.0, Decimal('15330608.899400')),
 (None, 1996.0, None, Decimal('63326113.003600')),
 (None, 1997.0, 1.0, Decimal('17418523.263100')),
 (None, 1997.0, 2.0, Decimal('15355923.862000')),
 (None, 1997.0, 3.0, Decimal('15579227.427300')),
 (None, 1997.0, 4.0, Decimal('16197925.646300')),
 (None, 1997.0, None, Decimal('64551600.198700')),
 (None, 1998.0, 1.0, Decimal('14912537.900100')),
 (None, 1998.0, 2.0, Decimal('16078987.245100')),
 (None, 1998.0, 3.0, Decimal('6807916.038300')),
 (None, 1998.0, None, Decimal('37799441.183500')),
 (None, None, 1.0, Decimal('107796510.305900')),
 (None, None, 2.0, Decimal('110007422.384400')),
 (None, None, 3.0, Decimal('105881861.251000')),
 (None, None, 4.0, Decimal('97580056.402400')),
 (None, None, None, Decimal('421265850.343700'))]

### Part 2: MDX (Optional)

Choose one of the queries you wrote in SQL and implement it in MDX.